{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reunião de Negócios</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- CSS customizado -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E8B57;">
    <div class="container">

        <!-- Marca -->
        <a class="navbar-brand text-primary fw-bold" href="{% url 'core:home' %}">
            Rodadas de Negócios
        </a>
        
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}
{% endblock %}


</body>
</html>
