{% extends "core/base.html" %}
{% load static %}
{% block content %}

<h4 >Detalhes — {{ evento.nome }}</h4>
<h4 class="mt-2 text-primary">Relatório de Empresas Inscritas</h4>

<p><strong>Data:</strong> {{ evento.data }}</p>
<p><strong>Local:</strong> {{ evento.local }}</p>

<a href="{% url 'core:evento_detail' evento.id %}" class="btn btn-secondary">Voltar</a>

{% if total == 0 %}
    <div class="alert alert-warning">
        Nenhuma empresa está inscrita neste evento.
    </div>
{% else %}

<hr>

<h4>Total de Inscritos: {{ total }}</h4>


<h3 class="mt-4 text-success">
    Compradores 
    <span class="badge bg-success">{{ total_compradores }}</span>
</h3>

<div class="accordion" id="accordionCompradores">

{% for item in lista_compradores %}
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="headingC{{ forloop.counter }}">
      <button class="accordion-button collapsed bg-success text-white" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseC{{ forloop.counter }}"
              aria-expanded="false"
              aria-controls="collapseC{{ forloop.counter }}">
        {{ item.empresa.nome }}
      </button>
    </h2>

    <div id="collapseC{{ forloop.counter }}"
         class="accordion-collapse collapse"
         aria-labelledby="headingC{{ forloop.counter }}"
         data-bs-parent="#accordionCompradores">

      <div class="accordion-body">

        {% if item.participacoes %}
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Rodada</th>
                <th>Horário</th>
                <th>Mesa</th>
                <th>Vendedor</th>
              </tr>
            </thead>
            <tbody>
              {% for p in item.participacoes %}
              <tr>
                <td>{{ p.rodada.nome }}</td>
                <td>{{ p.rodada.inicio_ro }} – {{ p.rodada.fim_ro }}</td>
                <td>{{ p.mesa }}</td>
                <td>{{ p.empresa_oposta.nome }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="text-danger">Este comprador não possui agenda.</p>
        {% endif %}

      </div>
    </div>

  </div>
{% endfor %}

</div>

<h3 class="mt-4 text-primary">
    Vendedores 
    <span class="badge bg-primary">{{ total_vendedores }}</span>
</h3>


<div class="accordion" id="accordionVendedores">

{% for item in lista_vendedores %}
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="headingV{{ forloop.counter }}">
      <button class="accordion-button collapsed bg-primary text-white" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseV{{ forloop.counter }}"
              aria-expanded="false"
              aria-controls="collapseV{{ forloop.counter }}">
        {{ item.empresa.nome }}
      </button>
    </h2>

    <div id="collapseV{{ forloop.counter }}"
         class="accordion-collapse collapse"
         aria-labelledby="headingV{{ forloop.counter }}"
         data-bs-parent="#accordionVendedores">

      <div class="accordion-body">

        {% if item.participacoes %}
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Rodada</th>
                <th>Horário</th>
                <th>Mesa</th>
                <th>Comprador</th>
              </tr>
            </thead>
            <tbody>
              {% for p in item.participacoes %}
              <tr>
                <td>{{ p.rodada.nome }}</td>
                <td>{{ p.rodada.inicio_ro }} – {{ p.rodada.fim_ro }}</td>
                <td>{{ p.mesa }}</td>
                <td>{{ p.empresa_oposta.nome }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="text-danger">Este vendedor não possui agenda.</p>
        {% endif %}

      </div>
    </div>

  </div>
{% endfor %}

</div>
{% endif %}
{% endblock %}
