{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<h2>Detalhes - {{ evento.nome }}</h2>

<p><strong>Data:</strong> {{ evento.data }}</p>
<p><strong>Local:</strong> {{ evento.local }}</p>
<p><strong>Descrição:</strong> {{ evento.descricao }}</p>

<a href="{% url 'core:evento_list' %}" class="btn btn-secondary mb-3">Voltar</a>
<a href="{% url 'core:evento_update' evento.id %}" class="btn btn-outline-warning mb-3">
    Editar Evento</a>

<!--    <a href="{% url 'core:rodadas_debug_report' evento.id %}" class="btn btn-outline-warning mb-3">
    Debug do Matchmaking
</a>
<a href="{% url 'core:rodadas_log' evento.id %}" class="btn btn-outline-warning mb-3">
    Log do Matchmaking
</a>
-->
<a href="{% url 'core:evento_relatorio_inscritos' evento.id %}" class="btn btn-outline-info mb-3">
    Relatório de Inscritos</a>
<a href="{% url 'core:ranking_afinidades' evento.id %}"    class="btn btn-outline-primary mb-3">
    Ranking de Afinidades</a>

<a href="{% url 'core:rodadas_relatorio' evento.id %}" class="btn btn-outline-primary mb-3">
    <i class="bi bi-table"></i> Agenda de Rodadas</a>
<a href="{% url 'core:agendas_empresas_evento' evento.id %}" class="btn btn-outline-info mb-3">
    Agendas das Empresas</a>

{% endblock %}