{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-5">
    <h1 class="display-5 text-primary fw-bold">Bem-vindo à Rodada de Negócios</h1>
    <p class="col-md-8 fs-4">
        Conecte empresas, gere oportunidades e participe de eventos estratégicos.
    </p>

    <div class="d-flex flex-wrap gap-3 mt-3">
        <a href="{% url 'core:evento_list' %}" class="btn btn-primary btn-lg">
            Eventos
        </a>            
        <a href="{% url 'core:empresa_list' %}" class="btn btn-primary btn-lg">
            Empresas
        </a>
        <a href="{% url 'core:interesse_list' %}" class="btn btn-primary btn-lg">
            Interesses
        </a>
    </div>
</div>
 
<h3 class="text-primary fw-bold">Painel de Agendas </h3>
<h6 class="text-primary fw-bold">Acesso rápido aos eventos </h6>
    <div class="row">
        {% for e in evento %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary fw-bold">{{ e.nome }} </h5>
                        <p class="card-text">
                            <strong>Data:</strong> {{ e.data|date:"d/m/Y" }} - <strong>Local:</strong> {{ e.local }}
                        </p>
                        <a href="{% url 'core:rodadas_relatorio' e.id %}" class="btn btn-outline-primary">
                            Abrir Agenda
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
