{% extends "core/base.html" %}
{% load static %}
{% block content %}

<h2>Detalhes — {{ evento.nome }}</h2>
<h4>Ranking de Afinidades </h4>
<a href="{% url 'core:evento_detail' evento.id %}" class="btn btn-secondary mb-3">Voltar</a>
{% for item in ranking %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <strong>{{ item.comprador.nome }}</strong>
        </div>

        <ul class="list-group list-group-flush">
            {% for m in item.melhores %}
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: {{ m.cor_alpha }};">
                    <div>
                        <span class="fw-bold" style="color: {{ m.cor_solid }};">
                            {{ m.vendedor.nome }}
                        </span>

                        {% if m.conflito %}
                            <span class="text-danger fw-bold ms-2">⚠️ conflito</span>
                        {% endif %}
                    </div>

                    <div>
                        <span class="badge bg-success">{{ m.score }}</span>
                        <span class="badge bg-info text-dark">{{ m.percentual }}%</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
