{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<h2>Redefinir senha</h2>

{% if erro %}
<p class="text-danger">{{ erro }}</p>
{% endif %}

<form method="POST" style="max-width: 400px;">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nova senha</label>
        <input type="password" name="nova_senha" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Confirmar nova senha</label>
        <input type="password" name="confirmar_senha" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Salvar nova senha</button>
</form>

{% endblock %}
